DATABASE_URL=sqlite:///./vendormind.db
GROQ_API_KEY=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
GMAIL_CLIENT_ID=116548055463-p8e1aemj8asbvgc2i6op59c4balhq9it.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=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
SUPABASE_URL=https://muqnpapetlbyctngxzov.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cW5wYXBldGxieWN0bmd4em92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNDE1NjMsImV4cCI6MjA5ODkxNzU2M30.6Deb6Wq8GC-2DjXk6zUmG-wbAMDUFxXB_FV55tSZOKA
JWT_SECRET=uuioPjhPZaHG+Vp0i3ZRUdZmu4qAfTJ8TwEtMUOc5/DC0jXFB7UTMHGb5kPKSjtDh1E08zJSRkd89Jbg9DbgHA==
CHROMA_DB_PATH_OR_URL=./chroma_db
